@page
@model JoinModel
@{
}

<form method="post">
    <div class="form-group">
        <label for="UID" class="control-label">Enter the room code:</label>
        <input name="UID" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-1">Join</button>
</form>