@page
@model JoinModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="UID">Enter the room code:</label>
        <input name="UID" asp-for="UID"/>
    </div>
    <button type="submit">Join</button>
</form>