@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="gap-1 d-flex align-items-center flex-column justify-content-center">
    <h2>Login or Register to chat</h2>
    <div class="d-flex border-1 border-primary gap-2">
        <a asp-page="/Auth/Login" class="btn btn-primary">Login</a>
        <a asp-page="/Auth/Register" class="btn btn-primary">Register</a>
    </div>
</div>
